<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body
    style="
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
      box-sizing: border-box;
      background-color: #f8fafc;
      color: #74787e;
      height: 100%;
      hyphens: auto;
      line-height: 1.4;
      margin: 0;
      -moz-hyphens: auto;
      -ms-word-break: break-all;
      width: 100% !important;
      -webkit-hyphens: auto;
      -webkit-text-size-adjust: none;
      word-break: break-word;
    "
  >
    <style>
      @media only screen and (max-width: 600px) {
        .inner-body {
          width: 100% !important;
        }

        .footer {
          width: 100% !important;
        }
      }

      @media only screen and (max-width: 500px) {
        .button {
          width: 100% !important;
        }
      }
    </style>
    <table class="wrapper" width="100%" cellpadding="0" cellspacing="0" role="presentation">
      <tr>
        <td align="center">
          <table class="content" width="100%" cellpadding="0" cellspacing="0" role="presentation">
            <tr>
              <td class="header">
                <a href="http://localhost:8000"> Your APP Name </a>
              </td>
            </tr>
            <!-- Email Body -->
            <tr>
              <td class="body" width="100%" cellpadding="0" cellspacing="0">
                <table
                  class="inner-body"
                  align="center"
                  width="570"
                  cellpadding="0"
                  cellspacing="0"
                  role="presentation"
                >
                  <!-- Body content -->
                  <tr>
                    <td class="content-cell">
                      <h1>Hello <%= name %>!</h1>
                      <p>Please click the button below to reset your password.</p>
                      <table
                        class="action"
                        align="center"
                        width="100%"
                        cellpadding="0"
                        cellspacing="0"
                        role="presentation"
                      >
                        <tr>
                          <td align="center">
                            <table
                              width="100%"
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              role="presentation"
                            >
                              <tr>
                                <td align="center">
                                  <table
                                    border="0"
                                    cellpadding="0"
                                    cellspacing="0"
                                    role="presentation"
                                  >
                                    <tr>
                                      <td
                                        style="
                                          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
                                            Roboto, Helvetica, Arial, sans-serif,
                                            'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
                                          box-sizing: border-box;
                                        "
                                      >
                                        <a
                                          href="<%= resetUrl %>"
                                          class="button button-primary"
                                          target="_blank"
                                          style="
                                            font-family: -apple-system, BlinkMacSystemFont,
                                              'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
                                              'Apple Color Emoji', 'Segoe UI Emoji',
                                              'Segoe UI Symbol';
                                            box-sizing: border-box;
                                            border-radius: 3px;
                                            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
                                            color: #fff;
                                            display: inline-block;
                                            text-decoration: none;
                                            -webkit-text-size-adjust: none;
                                            background-color: #3490dc;
                                            border-top: 10px solid #3490dc;
                                            border-right: 18px solid #3490dc;
                                            border-bottom: 10px solid #3490dc;
                                            border-left: 18px solid #3490dc;
                                          "
                                          >Reset Password</a
                                        >
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                      <p>If you did not create an account, no further action is required.</p>
                      <p>
                        Regards,<br />
                        Your App name
                      </p>

                      <table
                        class="subcopy"
                        width="100%"
                        cellpadding="0"
                        cellspacing="0"
                        role="presentation"
                      >
                        <tr>
                          <td
                            style="
                              font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
                                Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
                                'Segoe UI Symbol';
                              box-sizing: border-box;
                            "
                          >
                            <p>
                              If you’re having trouble clicking the "Reset Password" button, copy
                              and paste the URL below into your web browser:
                              <a href="<%= resetUrl %>"><%= resetUrl %></a>
                            </p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table
                  class="footer"
                  align="center"
                  width="570"
                  cellpadding="0"
                  cellspacing="0"
                  role="presentation"
                >
                  <tr>
                    <td class="content-cell" align="center">
                      <p>© 2022 Your App Name. All rights reserved.</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
